.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  width: 100%;
  background-color: $black;
  color: $white;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover,
.button:focus {
  background-color: lighten($color: $black, $amount: 10);
}