.page-footer {
  position: relative;
  z-index: 2;
  background-color: $gray;
}
.page-footer__container {
  padding-top: 30px;
  padding-bottom: 17px;
}
.page-footer__top {
  margin-bottom: 22px;
}
.page-footer__bottom,
.page-footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-footer__bottom {
  justify-content: space-between;
}
.page-footer__wrap {
  width: 100%;
  max-width: 320px;
}
@media (max-width: 1150px) {
  .page-footer__wrap {
    max-width: 250px;
  }
}
@media (max-width: 900px) {
  .page-footer__container {
    padding-top: 10px;
  }
}
@media (max-width: 680px) {
  .page-footer__bottom {
    flex-direction: column-reverse;
  }
  .page-footer__wrap {
    flex-direction: column;
    margin-bottom: 5px;
  }
  .page-footer__social {
    margin-bottom: 5px;
  }
}