.page-header {
  background-color: $gray;
}
.page-header__top {
  text-align: right;
}
.page-header__login {
  position: relative;
  padding-right: 21px;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  transition: color 0.3s ease;
}
.page-header__login:hover,
.page-header__login:focus {
  color: $beige;
}
.page-header__login::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 13px;
  background: url('/images/icon/lock.svg') no-repeat center;
  background-size: cover;
}
.page-header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  // padding-bottom: 19px;
}
@media (max-width: 900px) {
  .page-header__logo-img {
    width: 170px;
  }
}
@media (max-width: 768px) {
  .page-header__bottom {
    align-items: center;
    padding-bottom: 15px;
  }
  .page-header__nav {
    position: fixed;
    display: flex;
    z-index: 2;
    // align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $gray;
    padding-top: 30vh;
  }
  .page-header__nav--active {
    transform: translateY(0);
  }
}