.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transform: translateY(-15%);
  transition: 0.3s ease;
  transition-property: transform, opacity;
  visibility: hidden;
}
.modal__wrap {
  position: relative;
  width: 100%;
  max-width: 595px;
}
.modal__container {
  
  width: 100%;
  margin: 0 auto;
  // padding: 0 30px;
  // box-sizing: content-box;
  border-radius: 5px;
  background-color: $gray;
  overflow: auto;
  max-height: 80vh;
}
.modal--active {
  transform: translateY(0);
  opacity: 1;
  z-index: 1000;
  visibility: visible;
}
.overlay-background {
  position: fixed;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
  visibility: hidden;
}

.overlay-background--active {
  z-index: 999;
  visibility: visible;
  background-color: rgba($color: $white, $alpha: 0.6);
}