extends ../_template.pug

block variables
 - var title = 'Lampadari contemporanei'
 - var bodyClass = 'home-page'
block content
  .home-page__fullpage
    include ../layout/header
    //- main.home-page__main
    //-   h1.visually-hidden Lampadari contemporanei
    //-   section.home-page__main-slider.main-slider
    //-     .main-slider__container.swiper-container
    //-       .main-slider__wrapper.swiper-wrapper
    //-         .main-slider__slide.swiper-slide
    //-           picture
    //-             source(srcset="/images/content/slider/slider-img1.webp", type="image/webp")
    //-             img.main-slider__slide-img(src="/images/content/slider/slider-img1.png", alt="")
    //-           .main-slider__slide-description-wrap
    //-             h2.main-slider__slide-description-title Lampadari contemporanei
    //-             p.main-slider__slide-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
    //-         .main-slider__slide.swiper-slide
    //-           picture
    //-             source(srcset="/images/content/slider/slider-img1.webp", type="image/webp")
    //-             img.main-slider__slide-img(src="/images/content/slider/slider-img1.png", alt="")
    //-           .main-slider__slide-description-wrap
    //-             h2.main-slider__slide-description-title Lampadari contemporanei
    //-             p.main-slider__slide-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
    //-         .main-slider__slide.swiper-slide
    //-           picture
    //-             source(srcset="/images/content/slider/slider-img1.webp", type="image/webp")
    //-             img.main-slider__slide-img(src="/images/content/slider/slider-img1.png", alt="")
    //-           .main-slider__slide-description-wrap
    //-             h2.main-slider__slide-description-title Lampadari contemporanei
    //-             p.main-slider__slide-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
    //-       .main-slider__pagination.swiper-pagination
    //-     .main-slider__description.questions
    //-       .container.questions__container
    //-         button.questions__btn Open
    //-           <svg version="1.1" id="Livello_1" width="39" heidht="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 94 38" xml:space="preserve"><path fill="none" stroke="#000" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M3 35L47 3l44 32"/></svg>
    //-         ul.questions__list
    //-           li.questions__item.questions__item--beige
    //-             h3.questions__item-title Stai pensando ad un progetto?
    //-             p.questions__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
    //-             a.questions__item-link(href="") Approfondisci
    //-           li.questions__item.questions__item--white
    //-             h3.questions__item-title Vi aspettiamo alla fiera Euroluce
    //-             p.questions__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
    //-             a.questions__item-link.questions__item-link--black(href="") Approfondisci
    //-           li.questions__item.questions__item--black
    //-             h3.questions__item-title.questions__item-title--white Scopri la nuova collezione
    //-             p.questions__item-text.questions__item-text--white Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore
    //-             a.questions__item-link(href="") Approfondisci
            