.footer-description {
  display: flex;
  max-width: 930px;
  margin: 0 auto;
}
.footer-description__item {
  width: 100%;
  min-width: 190px;
  margin-right: 59px;
}
.footer-description__item:last-child {
  margin-right: 0;
}
.footer-description__item-title {
  font-family: 'Playfair';
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 17px;
}
.footer-description__item-title--mb-23 {
  margin-bottom: 23px;
}
.footer-description__item-text {
  font-size: 12px;
  line-height: 18px;
  color: $white;
}
.footer-description__input {
  margin-bottom: 12px;
  max-width: 184px;
}
.footer-description__input--mb-8 {
  margin-bottom: 8px;
}
.footer-description__checkbox {
  margin-bottom: 6px;
}
.footer-description__button {
  max-width: 184px;
}