header.page-header
  .container.page-header__container
    .page-header__top
      a.page-header__login.js-modal-login(href="#" data-modal="riservata") AREA RISERVATA
    .page-header__bottom
      a.page-header__logo(href="/")
        img.page-header__logo-img(src="/images/icon/logo.png", alt="Logo company" width="283")
      nav.page-header__nav
        ul.page-header__main-menu.main-menu
          li.main-menu__item
            a.main-menu__item-link.main-menu__item-link--active(href="#") HOME
          li.main-menu__item
            a.main-menu__item-link(href="#") AZIENDA
            ul.main-menu__item-submenu.submenu
              li.submenu__item
                a.submenu__item-link(href="#") STORIA
              li.submenu__item
                a.submenu__item-link(href="#") MM DESIGN
              li.submenu__item
                a.submenu__item-link(href="#") DESIGNER
              li.submenu__item
                a.submenu__item-link(href="#") CERTIFICAZIONI
          li.main-menu__item
            a.main-menu__item-link(href="#") COLLEZIONI
          li.main-menu__item
            a.main-menu__item-link(href="#") NEWS
          li.main-menu__item
            a.main-menu__item-link(href="#") CONTATTI