.language__list {
  display: flex;
}
.language__item {
  position: relative;
  padding-right: 10px;
  margin-right: 9px;
}
.language__item::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $white;
}
.language__item:last-child {
  padding-right: 0;
  margin-right: 0;
}
.language__item:last-child::before {
  content: none;
}
.language__item-link {
  font-size: 14px;
  line-height: 24px;
  color: $white;
  transition: color 0.3s ease;
}
.language__item-link:hover,
.language__item-link:focus {
  color: $beige;
}
