.riservata-modal__container {
  padding-top: 5px;
  padding-bottom: 25px;
}
.riservata-modal__header {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.riservata-modal__title,
.riservata-modal__form-title {
  font-family: 'Playfair';
  color: $white;
}
.riservata-modal__title {
  font-size: 24px;
  line-height: 24px;
}
.riservata-modal__content {
  display: flex;
  justify-content: space-between;
  padding-left: 76px;
  padding-right: 76px;
}

.riservata-modal__form {
  max-width: 184px;
}
.riservata-modal__input {
  margin-bottom: 7px;
}
.riservata-modal__input:last-child {
  margin-bottom: 0;
}
.riservata-modal__form-title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14px;
}
.riservata-modal__forgot {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: #b5b4b4;
  margin-top: 5px;
}
.riservata-modal__button {
  margin-top: 14px;
}
.riservata-modal__checkbox-wrap {
  margin-top: 10px;
}
.riservata-modal__checkbox {
  margin-bottom: 10px;
}
.riservata-modal__checkbox:last-child {
  margin-bottom: 0;
}
@media (max-width: 650px) {
  .riservata-modal__wrap {
    max-width: 450px;
  }
  .riservata-modal__content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 480px) {
  .riservata-modal__wrap {
    max-width: 90vw;
  }
  .riservata-modal__title {
    font-size: 20px;
    line-height: 20px;
  }
  .riservata-modal__content {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .riservata-modal__left {
    margin-bottom: 20px;
  }
  .riservata-modal__form {
    max-width: none;
  }
}